/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* global css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    ;
}

/* navigation styles */
.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    ;
}

.navigation-bar .nav-brand {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    cursor: pointer;
    ;
}

.navigation-bar .nav-menu ul {
    display: flex;
    justify-content: space-between;
    ;
}

.navigation-bar .nav-menu li {
    list-style: none;
    margin: 0 15px;
    ;
}

.navigation-bar .nav-menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    ;
}

/* hero section */
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 130px;
    align-items: center;
    margin-top: 50px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    ; */
}

.hero-section .content {
    max-width: 582px;
    height: 270px;
    ;
}

.hero-section .content h1 {
    font-size: 52px;
    font-weight: 700;
    ;
}

.hero-section .content p {
    font-size: 16px;
    font-weight: 600;
    ;
}

.button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    ;
}
.button i{
    transition: all 0.2s linear;
    ;
}
.button:hover i{
    transform: scale(1.5) translateX(5px);
}

.fa-arrow-right {
    margin-left: 10px;
    ;
}

.hero-section img {
    width: 440px;
    height: 415px;
    float: right;
    border-radius: 50%;
    padding: 30px;
    background-image: linear-gradient(#d62063ce, #E02C6D);
    position: relative;
    ;
}

/* popular collections */
.collections, .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    ;
}

.collection, .product {
    width: 330px;
    height: 475px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    ;
}

.collection img, .product img {
    width: 100%;
    border-radius: 5px;
    ;
}

.collection h2, .product h2 {
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 6px;
    ;
}

.collection .price, .product .price {
    font-size: 24px;
    color: #000;
    margin: 0;
    ;
}

.fas.fa-star {
    font-size: 12px;
    color: #FB8200;
    ;
}

.far.fa-star {
    font-size: 12px;
    color: #FB8200;
    ;
}

.rating span {
    font-size: 14px;
    color: #5E6366;
    margin-left: 10px;
    font-weight: 700;
    ;
}

.collection .details, .product .details {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    ;
}

.collections a {
    text-decoration: none;
    text-align: right;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
}

/* Featured Section Styles */
.feature_section {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .featured {
    display: flex;
    column-gap: 80px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .featured_title {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0a0826;
  }
  
  .featured_description {
    width: 500px;
    margin: 15px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
  }
  
  .join_now {
    padding: 15px 35px;
    background: #e02c6d;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
  }
  
  .join_now:hover i {
    transition: 0.3s ease-in-out;
    transform: rotate(360deg);
  }

  

  .footer {
    background-color: #0a0826;
    color: #fff;
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer .section_title {
    color: #fff;
    margin-bottom: 3px;
  }
  
  .footer_description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #d9dbe1;
  }
  
/* media queries */
@media only screen and (max-width: 688px) {
    .nav-menu{
        display: none;
        ;
    }
    .hero-section, .collections, .products{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 100px;
        text-align: center;
        ;
    }
    .content, .hero-section img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        ;
    }
    .hero-section .content h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .hero-section img{
        height: 80%;
        ;
    }
    .collection, .product {
        width: 80%;
        height: 100%;
        ;
    }
    .hidden-on-mobile{
        display: none;
    }
    .collections a{
        float: right;
        width: 85%;
    }
}
/* tablet view */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .nav-menu{
        display: none;
        ;
    }
    .hero-section, .collections, .products{
        grid-template-columns: repeat(2, 1fr);
        ;
    }
    .hero-section{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 150px;
        ;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ;
    }
    .seemore{
        position: relative;
        left: 50%;
    }
}